.vs/
#Binaries/
Build/
#Config/
Content/Developers
Intermediate/
#Plugins/RakNet/Binaries/
Plugins/RakNet/Intermediate/
Saved/
Content/StarterContent/

*.exe
*.exp
*.lib
*.pdb
#*.dll
RN4UE4.sln
RN4UE4.VC.db
RN4UE4.xcworkspace
RN4UE4.VC.VC.opendb
/enc_temp_folder
/Plugins/Replicas/Source/Replicas/Source/
/Plugins/Replicas/Binaries/Win64
